<!-- filter -->
<div class="row justify-content-center my-3">
  <div class="col col-md-10 col-lg-8">
    <form action="/" method="GET" class="w-100">
      <select class="form-control" name="filter" onchange="submit()">
        <option value="全部類別">--全部類別--</option>
        {{#each categories}}
        <option value="{{ this.name }}">{{ this.name }}</option>
        {{/each}}
      </select>
    </form>
  </div>
</div>

<!-- total amount -->
<div class="row justify-content-center my-5">
  <div class="col col-md-8 col-lg-6">
    <div class="row justify-content-center">
      <h5 class="col-3 font-weight-bold text-muted text-right">總金額</h5>
      <div class="col font-weight-bold text-danger" style="font-size:6rem">{{ totalAmount }}</div>
    </div>
  </div>
</div>

<!-- receipt -->
<div class="row justify-content-center my-3">
  {{#each records}}
  <div class="col-12 col-md-10 col-lg-8 row border-bottom py-3">
    <div class="col-2 d-flex justify-content-center"><i class="{{getIcon this.category}} fa-3x align-self-center"></i>
    </div>
    <div class="col d-flex flex-column">
      <div class="p-2 flex-grow-1" style="font-size:1.5rem;">{{ this.name }}</div>
      <div class="pl-2">{{ this.date }}</div>
    </div>
    <div class="col-3 d-flex flex-column">
      <div class="p-2 flex-grow-1" style="font-size:1.5rem;">{{ this.amount }}</div>
      <div class="d-flex justify-content-end pr-2">
        <a href="/records/{{ this._id }}/edit" class="text-primary">
          <i class="fas fa-edit mx-2"></i>
        </a>
        <a type="button" data-toggle="modal" data-target="#deleteModal{{ this._id }}" class="text-danger">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal{{ this._id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center mt-1">
          <i class="fas fa-exclamation-triangle fa-2x pb-4 text-danger"></i><br>
          確定刪除 <b class="text-primary">[ {{this.date}} ] {{this.name}} NT${{this.amount}}</b> 這筆支出嗎？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">刪除</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<div class="fixed-bottom d-flex justify-content-end">
  <a href="/records/new"
    class="btn btn-success rounded-circle d-flex justify-content-center align-items-center mr-5 mb-3 shadow"
    style="width:3rem;height:3rem">
    <span><i class="fas fa-plus"></i></span>
  </a>
</div>